body{
	background-attachment: fixed;
	background-image: url('/Content/img/backgrounds/1.jpg');
	background-position: right top;
	background-size: cover;
	background-repeat: no-repeat;
}

.section-header {
	font-size: 1.4em;
	margin-bottom: 0.7em;
}