#starRating {
	font-size: 2em;
}

.edit-control {
    display: none;
}

.label {
    font-style: italic !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}

.ibox-title {
    padding: 0 15px !important;
}

.ibox-title .label {
    float: none !important;
}

.active-bg {
    background-color: #4CAF50;
}

.inactive-bg {
    background-color: #D32F2F;
}

.unlimit-km {
    width:25px;
    height:25px;
}