@{
	ViewBag.Title = "Forgot Password Confirmation";
}

<div class="middle-box text-center animated fadeInDown">
	<div style="background-color: hsla(122,43%,20%,.9); margin: 5em 0 10em 0; padding: 2em;">
		<p style="color:white; font-size:1.3em;">Email khôi phục mật khẩu đã được gởi đến địa chỉ email của bạn.</p>
		
		@Html.ActionLink("Click vào đây để quay về.", "Login", "Account")
		</div>
	</div>

@section PageStyle {
	<style>
		body{
			background-attachment: fixed;
			background-image: url('/Content/img/backgrounds/1.jpg');
			background-position: right top;
			background-size: cover;
			background-repeat: no-repeat;
		}
	</style>
}


